body{
    background:linear-gradient(orange,white,green,blue,green,white,orange);
}


h1
{
    height: 100px;
    padding-top: 50px;
    background: linear-gradient(red,blue,green,yellow,orange,brown,white);
    text-align: center;
    color: blue;
}
h3
{
    height: 100px;
    padding-top: 50px;
    background: linear-gradient(red,blue,green,yellow,orange,brown,white);
    text-align: center;
    color: blue;
    font-size: xx-large;
}
div{
    color: green;
    margin: auto;
    height: 100px;
    width: 400px;
    text-align: center;
    font-size: xx-large;
    background: linear-gradient(red,blue,green,yellow,orange,brown,white);

}
p{
    text-align: center;
    padding-top: 35px;
    font-size: x-large;
    font-weight: bolder;
}